services:
  gpsd:
    image: ghcr.io/chrismeller/gpsd-docker/gpsd:latest@sha256:bb801000dc7c1f6140d4cdf3f19b48769ce97507b769847ab3cb5965892e5136
    container_name: gpsd
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    ports:
      - "2947:2947"
    environment:
      - TZ=UTC
      - GPS_DEVICE=/dev/ttyACM0
      - PPS_DEVICE=
      - GPS_SPEED=38400
      - DEBUG_LEVEL=3
    cap_add:
      - SYS_TIME
      - SYS_NICE
    restart: unless-stopped
    ipc: shareable
    # depends_on:
    #   chrony:
    #     condition: service_healthy

  chrony:
    image: ghcr.io/chrismeller/gpsd-docker/chrony:latest@sha256:d1523079d84bc9959da0c5c02bee46dc0d9d132fa42341f2269a6c743015db96
    container_name: chrony
    ports:
      - "123:123/udp"
      - "323:323/udp"
    volumes:
      #- gpsd_socket:/run/:rw
      - ./chrony/chrony.conf:/etc/chrony/chrony.conf:ro
    environment:
      - TZ=UTC
      - LOG_LEVEL=0   # 0 = information, higher gets lower
    ipc: service:gpsd
    cap_add:
      - SYS_TIME
      - SYS_NICE
    restart: unless-stopped
    depends_on:
     gpsd:
       condition: service_healthy

  exporter:
    image: ghcr.io/chrismeller/gpsd-docker/exporter:latest@sha256:29a555da0ae1807150d0c1d340751d64465a25611d7c63add504f5184cc059cc
    container_name: exporter
    ports:
      - "9978:9978/tcp"
    environment:
      - TZ=UTC
    depends_on:
      gpsd:
        condition: service_healthy

# volumes:
#   gpsd_socket:
